body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background: #303030;
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 25px;
}

@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}

@media (min-width: 1600px) {
    .container {
        max-width: 1440px;
    }
}

@media (min-width: 2200px) {
    .container {
        max-width: 2000px;
    }
}

.spacer {
    flex: 1 1 auto;
}

